p 
{
    font-size: 1.2rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

hr
{
    color: black;
    border-color: black;
}

.section
{
    margin: 2rem 0;
}

span, li
{
    font-size: 1.2rem;
    flex-shrink: 0;
}

.bigger-text
{
    font-size: 1.3rem;
}

/*RESUME PAGE USS*/
.resume-page
{
    flex-grow: 1;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    border-width:1px;
    border-color: antiquewhite;
}

.resume-container
{
    margin-left: 10px;
    margin-right: 10px;
}

.contact-info
{
    font-size: 1.4rem;
}

.spaced-line
{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

ul
{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}