.background
{
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    z-index: -10;

    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(202, 252, 255, 1) 100%);
}

p
{
    font-size: 1.3rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    line-height: 1.75rem;
}

li
{
    line-height: 1.75rem;
}

hr
{
    color: black;
    border-color: black;
}

.section
{
    margin: 3.5rem 0;
}

.portfolio-page span, li
{
    font-size: 1.2rem;
    flex-shrink: 0;
}

.bigger-text
{
    font-size: 1.3rem;
}

/*Main Page*/

.my-image
{
    border-radius: 50%;
    max-width: 10.25rem;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}

.my-image-container
{
    display: flex;
    border-radius: 50%;
    border-width: 2px;
    padding: 3px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    background-color: white;
    justify-content: center;
    align-items: center;
}

html, body {
    min-height: 100vh;
    margin: 0;
    font-size: clamp(14px, 1.11vw, 20px);
}

.inter, /*body / links*/
.resume-page p,
.resume-page h2,
li,
.portfolio-page p
{
    font-family: "Inter", sans-serif;
}

.alegreya-sans,
.portfolio-page h2 /*buttons*/
{
    font-family: "Alegreya Sans", sans-serif;
}

.cantata-one /*header*/
{
    font-family: "Cantata One", sans-serif;
}

.main-page,
.resume-page,
.portfolio-page
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-page .container
{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 46rem;
    gap: 1rem;
    padding: 0 1rem;
}

.main-page .row
{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.main-page h1
{
    font-size: 2.5rem;
    color: rgba(17, 63, 113, 1);
}

.diamond
{
    width: 1rem;
    height: 1rem;
    border-width: 2px;
    border-style: solid;
    color: rgba(17, 63, 113, 1);
    rotate: 45deg;
}

@media only screen and (max-width: 600px) {
    .diamond {
        display: none; /* Hides the element completely */
    }

    .main-page .row
    {
        gap: 2.5rem;
    }
}

.hover-button
{
    border-style: solid;
    border-width: 2px;
    padding: 10px 0;
    font-size: 1.25rem;
    color: rgba(17, 63, 113, 1);
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .1rem;
    width: 6.8rem;
    text-align: center;

    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0rem .125rem;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}

button.hover-button
{
    padding: 15px 0;
    border-color: rgba(17, 63, 113, 1);
    width: 9rem;
    background-color: transparent;
}

button.hover-button.active
{
    border-color: rgba(151, 71, 255, 1);
    color: rgba(151, 71, 255, 1);
    background-size: 5.1rem .125rem;
}

.hover-button:visited
{
    color: rgba(4, 0, 77, 1);
}

.hover-button:hover
{
    border-color: rgba(151, 71, 255, 1);
    color: rgba(151, 71, 255, 1);
    transition: all 0.5s ease;
    background-size: 5.4rem .125rem;
}

button.hover-button:hover
{
    background-size: 5.1rem .125rem;
}

.hover-button.resume:hover
{
    background-size: 4rem .125rem;
}

.main-page .contact-info
{
    margin: auto 0 2rem 0;
    padding: 0 1rem;
    font-size: .82rem;
}

.main-page .container p
{
    text-align: center;
    font-size: 1rem;
}

.tiny-spacing
{
    margin: 0 .5rem;
}

/*RESUME PAGE USS*/
.return-home
{
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
}

.return-home:visited
{
    color: black;
}

.return-home:hover
{
    color: rgba(151, 71, 255, 1);
}

.return-to-top
{
    width: 12rem;
    display: block;
    margin: 0 auto 2rem auto;
}

.return-to-top:hover
{
    background-size: 10.5rem .125rem;
}

.resume-page h1,
.portfolio-page h1
{
    font-size: 3rem;
    color: rgba(17, 63, 113, 1);
    margin-bottom: 0;
}

.section-header
{
    font-size: 2.25rem;
    color: rgba(17, 63, 113, 1);
    font-variant: small-caps;
    margin: 1rem 0;
}

.resume-container .minor-section-header{
    margin: .5rem 0;
}

hr 
{
    color: rgba(17, 63, 113, 1);
    border-color: rgba(17, 63, 113, 1);
}

.resume-container
{
    margin: 15vh .625rem 0 .625rem;
    max-width: 46rem;
}

.resume-page p,
.portfolio-page p
{
    font-size: 1.25rem;
}

.resume-page li,
.portfolio-page li
{
    font-size: 1.25rem;
}

.contact-info
{
    font-size: 1.4rem;
}

.left-span
{
    margin-right: 1.5rem;
}

ul
{
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

/*PORTFOLIO PAGE USS*/
.portfolio-page .container
{
    margin: 15vh .625rem 0 .625rem;
    max-width: 46rem;
}

.slide {
    display: none;
    align-items: center;
}

.slide.active {
    display: flex;
    flex-direction: column;
}

.slide iframe {
    width: 100%;
    height:auto;
    aspect-ratio: 12.95 / 9;
}

.dot-container
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dot
{
    background-color: gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.dot.active
{
    background-color: black;
    height: 15px;
    width: 15px;
}

.top-half
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.carousel-container
{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    min-width: 200px;
}

.right,
.left
{
    flex-shrink: 0;
    font-size: 1.8rem;
    height: 3.372rem;
    width: 3.372rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;

    padding-bottom: .2rem;
}

.left
{
    padding-right: 8.4px;
}

.right
{
    padding-left: 8.4px;
}

.game
{
    display: none;
}

.game.active
{
    display: block;
}

.top-buttons
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 3rem;
}

.content-section
{
    margin-bottom: 2rem;
}